<!doctype html>
<html>
<head>
    <title>Find your precinct</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container header">
        <img src="/static/logo.png">
    </div>
    <div class="container main">
        <div class="main-nav">
            <h1 class="header-info">Enter your address to register for caucus on April 4th</h1>
        </div>
        <div class="main-content {% if tdict.error %}error{% endif %}">
          {% if tdict.error %}
            <div class="error-message">
              <h4>There was an error processing your address. Please try again!</h4>
              <pre>{% if tdict.debug %}{{ tdict.e }}{% endif %}</pre>
            </div>
          {% endif %}
            <form name="get_precinct" action="/get_precinct/" method="get">
                <div class="row">
                    <div class="container">

                        <label>Address
                            <input
                                {% if tdict.form %}value="{{ tdict.form.addr }}"{% endif %}
                                type="text"
                                name="addr"
                                required
                                autocomplete="street-address" />
                        </label>
                        <label>Address 2
                            <input
                                {% if tdict.form %}value="{{ tdict.form.address2 }}"{% endif %}
                                type="text"
                                name="address2"
                                autocomplete="street-address 2" />
                        </label>

                        <label>Zip Code
                            <input
                                {% if tdict.form %}value="{{ tdict.form.zip }}"{% endif %}
                                type="text"
                                name="zip"
                                required
                                autocomplete="postal-code" />
                        </label>

                        <button class="submit-button" type="submit" value="Get Precinct">Register Now</button>

                    </div>

                </div>
            </form>
        </div>
    </div>

</body>

</html>